.glass-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;

  transition:
    background-color 300ms ease,
    border-color 300ms ease;

  background-color: var(--color-card-bg);
  border: 1px solid var(--color-border-light);

  &:hover {
    border-color: var(--color-border-dark);
  }

  &:hover .card-title {
    color: var(--color-extra-light-blue);
  }
}

.hover-glow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease;
  pointer-events: none;

  background: linear-gradient(
    to bottom right,
    var(--color-glass),
    transparent,
    transparent
  );
}

.glass-card:hover .hover-glow {
  opacity: 1;
}

.icon-box {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 300ms ease;

  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

.glass-card:hover .icon-box {
  background-color: var(--color-bg-hover);
  border-color: var(--color-border-hover);
}

.text-card {
  transition: color 0.3s ease;
}

.glass-border-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid var(--color-glass-bg);
  box-shadow: 0 25px 50px -12px var(--color-btn-shadow);
}

.zoom-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.05);
  }
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    transparent 100%
  );
  opacity: 0.6;
  transition: opacity 500ms ease;
  pointer-events: none;
}

.group:hover .card-overlay {
  opacity: 0.4;
}
