.custom-scrollbar::-webkit-scrollbar {
  width: 22px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-light);
  border-radius: 15px;
  border: 8px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-extra-light);
  cursor: pointer;
}
