.small-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.05em;
  margin-bottom: 48px;
}

.subtitle {
  font-size: 24px;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: "Montserrat", sans-serif;
}

.text-blue {
  background: linear-gradient(
    90deg,
    var(--color-blue-text-light),
    var(--color-blue-text-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.text {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.small-text {
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  font-family: "Montserrat", sans-serif;
}

.text-mont {
  font-family: "Montserrat", sans-serif;
}

.text-krub {
  font-family: "Krub", sans-serif;
}

.nav-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: white;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 1px;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
  }

  &:hover {
    transform: scale(0.97);
  }
}

.hover-text {
  display: inline-block;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.07);
  }
}

.text.text-gray {
  color: var(--color-gray-extra-light);
}
