.splide .splide__arrow {
  background: transparent;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.splide .splide__arrow:hover {
  transform: translateY(-50%) scale(1.05);
}

.splide .splide__arrow--prev {
  left: -6rem;
}

.splide .splide__arrow svg {
  fill: white;
  width: 16px;
  height: 16px;
}

.splide .splide__arrow--next {
  right: -5rem;
}

.splide .splide__pagination {
  bottom: -2.3rem;
}

.splide .splide__pagination__page {
  background: transparent;
  border: 1px solid white;
}
