@import '~/styles/typography.scss';
@import '~/styles/fonts.css';
@import '~/styles/custom-scrollbar.scss';
@import '~/styles/buttons.scss';
@import '~/styles/cards.scss';
@import '~/components/FeaturedWorks/splide.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smooth-scale {
    @apply transition-transform duration-500 ease-in-out;
  }

  .smooth-scale-hover {
    @apply group-hover:scale-105;
  }
}


body, html {
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --color-primary: #fff;

  --color-blue-light: #00b7ff;
  --color-blue-dark: #0076bb;
  --color-text-light-blue: #93c5fd;
  --color-blue-hover-light: #0298c9;
  --color-blue-hover-dark: #006fb0;
  --color-purple: #8e44ad;

  --color-blue-text-light: #00aaff;
  --color-blue-text-dark:rgb(0, 117, 213);

  --color-blue-bg: #006eff20;
  --color-purple-bg: #8d44ad4c;

  --color-extra-light-blue:#BFDBFE; 

  --color-gray-light: #393939;
  --color-gray-extra-light: #868686;

  --color-glass: rgba(59, 130, 246, 0.1);
  --color-glass-bg: rgba(255, 255, 255, 0.05);
  --color-border: rgba(255, 255, 255, 0.1);
  --color-glass-btn-shadow: rgba(255, 255, 255, 0.2);
  --color-glass-bg-hover: rgba(59, 130, 246, 0.2);
  --color-glass-bg-border-hover: rgba(255, 255, 255, 0.5);
  --color-border-hover: rgba(59, 130, 246, 0.3);

  --color-border-light: #FFFFFF1A;
  --color-border-dark: #FFFFFF33;

  --color-btn-shadow: rgba(0, 0, 0, 0.3);
  --color-btn-highlight: rgba(255, 255, 255, 0.3);
  --color-glass-btn-bg: rgba(255, 255, 255, 0.4);

  --color-blue-shadow: 0_0_10px_rgba(59,130,246,0.5);

  --color-gray: #0e0e10;
  --color-card-bg: rgba(24, 24, 27, 0.5);
  --color-text-shadow-dark: 0_0_20px_rgba(0,0,0,0.9);
}

.light {
  --color-primary: #000;
  --color-green-light: #3DDC84;
  --color-green-dark: #2E7D32;
  --color-gray-bg: #f5f5f5;
}

body {
  color: white;
}
